.home-container{
   
    img{
        // padding: 5px;
        height: 800px;
        width: 100%;
    }

}
.infrom-body{
    display: flex;
    justify-content: space-around;
    img{
        height: 50px;
        width: 50px;
    }
}
.watch-container{
    display: flex;
}